#Banco 
/db/dbConfig.php
/admin/db/estrutura/
/mysql/

#armazenamento
/congresso/midia/
/producao/conteudo/
/repositorio/trabalhos/
/admin/csv/

#configuração
uploads.ini

#envio de e-mail
/repositorio/email/enviaEmail.php
/admin/email/enviaEmail.php